blockquote {
    border-left: 4px solid rgb(44, 128, 150);
    padding-left: 10px;
    margin-left: 6px;
    background-color: rgb(0,200,0,);
    display: block;
}

.markdown_box{
    margin-top:    4px;
    margin-left:   4px;
    margin-bottom: 4px;
    margin-right:  4px;

    padding-top:    4px;
    padding-left:   4px;
    padding-bottom: 4px;
    padding-right:  4px;

    background-color:bisque;
    color: rgb(37, 35, 0)
}